* {
    box-sizing: border-box;
}

body, html{
    padding: 0;
    margin: 0;
}

body{
    font-size: 30px;
    background: red;
}

#particles-js{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#page-wrapper{
    position: relative;
    z-index: 2;
}

.row:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.row { display: inline-block; }
/* start commented backslash hack \*/
* html .row { height: 1%; }
.row { display: block; }
/* close commented backslash hack */
.header{
    margin-bottom: 10px;
}

img{
    height: auto;
}

.plz{
    margin: auto;
}

.inner-header{
    background-color: #171819;
    height: 200px;
}

.content{
    margin: 0 auto;
    width: 75%;
    display: block;
}

.inner-content{
    background-color: #171819;
    min-height: 500px;
    padding: 10px;
}

.content-1{
    float: left;
    padding-right: 10px;
    padding-top: 10px;
    width: auto;
}

.inner-content-1{
    border: 4px solid #daede6;
    padding: 10px;
    min-height: 45px;
    text-align: center;
}

.footer{
    margin-top: 10px;
}

.inner-footer{
    background-color: #171819;
    height: 200px;
}

.site-name{
    padding-left: 15px;
    padding-top: 15px;
}

.login{
    text-align:right;
    padding-top: 20px;
    padding-right: 15px;
}
