{% extends 'base.html' %}
{% block content %}
<div class="content container">
    <h5>Маєте акаунт? <a href='/login'>Зайдіть!</a></h5>
    <h2>Реєстрація</h2>
    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
            <p>
            {{ field.label_tag }}<br>
            {{ field }}
            {% if field.help_text != "<ul><li>Ваш пароль не може бути занадто подібним до вашої іншої особистої інформації.</li><li>Ваш пароль повинен містити принаймні 8 символів.</li><li>Ваш пароль не має бути занато простим паролем.</li><li>Ваш пароль не може складатись тільки з чисел.</li></ul>" %}
                <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
            </p>
        {% endfor %}
        <button type="submit">Sign up</button>
    </form>
</div>
{% endblock %}
