{% extends 'base.html' %}
{% block content %}
    <div class="content">
        <div class="inner-content">
            <div>
                Виберіть свій автомобіль:
            </div>
            <div class="row">
                <div class="plz">
                    <div class="content-1">
                        <div class="inner-content-1">
                            <a href="/audi_a8_d2_3_3">
                                <h4>Audi A8 D2 3.3 TDI</h4>
                            </a>
                            <br />
                                <a href="/audi_a8_d2_3_3">
                                    <img class="cars" src="static\media\audi_d2_1.jpg" height="250" />
                                </a>
                        </div>
                    </div>
                    <div class="content-1">
                        <div class="inner-content-1">
                            <a href="/audi_a8_d2_3_7">
                                <h4>Audi A8 D2 3.7</h4>
                            </a>
                            <br />
                                <a href="/audi_a8_d2_3_7">
                                    <img class="cars" src="static\media\audi_d2_2.jpg" height="250" />
                                </a>
                        </div>
                    </div>
                    <div class="content-1">
                        <div class="inner-content-1">
                            <a href="/audi_a8_d2_4_2">
                                <h4>Audi A8 D2 4.2</h4>
                            </a>
                            <br />
                                <a href="/audi_a8_d2_4_2">
                                    <img class="cars" src="static\media\audi_d2_3.jpeg" height="250" />
                                </a>
                        </div>
                </div>
                </div>
            </div>
            <div class="row">
                <div class="plz">
                <div class="content-1">
                    <div class="inner-content-1">
                        <a href="/audi_a8_d3_3_0">
                            <h4>Audi A8 D3 3.0 TDI</h4>
                        </a>
                        <br />
                            <a href="/audi_a8_d3_3_0">
                                <img class="cars" src="static\media\audi_d3.jpg" height="250" />
                            </a>
                    </div>
                </div>
                <div class="content-1">
                    <div class="inner-content-1">
                        <a href="/audi_a8_d3_3_7">
                            <h4>Audi A8 D3 3.7</h4>
                        </a>
                        <br />
                            <a href="/audi_a8_d3_3_7">
                                <img class="cars" src="static\media\audi_d3_1.jpg" height="250" />
                            </a>
                    </div>
                </div>
                <div class="content-1">
                    <div class="inner-content-1">
                        <a href="/audi_a8_d3_4_2">
                            <h4>Audi A8 D3 4.2</h4>
                        </a>
                        <br />
                            <a href="/audi_a8_d3_4_2">
                                <img class="cars" src="static\media\audi_d3_2.jpg" height="250" />
                            </a>
                    </div>
                </div>
                </div>
            </div>
            <div class="row">
                <div class="plz">
                <div class="content-1">
                    <div class="inner-content-1">
                        <a href="/mitsubishi_3_2">
                            <h4>Mitsubishi Pajero Wagon(2000-2006) 3.2 DID</h4>
                        </a>
                        <br />
                            <a href="/mitsubishi_3_2">
                                <img class="cars" src="static\media\mitsubishi_1.jpg" height="250" />
                            </a>
                    </div>
                </div>
                <div class="content-1">
                    <div class="inner-content-1">
                        <a href="/mitsubishi_3_5">
                            <h4>Mitsubishi Pajero Wagon(2000-2006) 3.5 GID</h4>
                        </a>
                        <br />
                            <a href="/mitsubishi_3_5">
                                <img class="cars" src="static\media\mitsubishi_3.jpg" height="250" />
                            </a>
                    </div>
                </div>
                <div class="content-1">
                    <div class="inner-content-1">
                        <a href="/porshe_cayenne">
                            <h4>Porsche Cayenne</h4>
                        </a>
                        <br />
                            <a href="/porshe_cayenne">
                                <h4>Porsche Cayenne</h4>
                            </a>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
