{% extends 'base.html' %}
{% block content %}
<div class="content container">
    <div class="row">
        <div class="infinite-container">
            {% for detail in details %}
                <div class="background_detail">
                    <div class="detail">
                        <div class="price">
                            <p>Ціна: {{ detail.price }}</p>
                        </div>
                        <h3>{{ detail.detail }} для {{ detail.car }}</h3>
                        <p>
                            {{ detail.description }}
                        </p>
                        <p>
                            {% if detail.images %}
                                <img class="detail-foto" src="{{ detail.images.url }}" />
                            {% endif %}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% if details.has_next %}
        <a href="?page={{ details.next_page_number }}">
            <div class="infinite-container">
                <div class="more"><h2><center>More</center></h2></div>
            </div>
        </a>
    {% endif %}
    <script>
        var infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0]
        });
    </script>
</div>
{% endblock %}
