{% extends 'base.html' %}
{% block content %}
<div class="content container">
    <div class="row">
        <div class="infinite-container">
            {% for detail in details %}
                <div class="background_detail">
                    <div class="detail">
                        <h3 class="name-detail"><a href="{% url 'shop:detail_page' pk=detail.pk %}">{{ detail.detail }} для {{ detail.car }}</a></h3>
                        <br>
                        <h6>{{ detail.description }} <em class="fa fa-arrow-down"></em> Всі контакти внизу <em class="fa fa-arrow-down"></em></h6>
                        <br>
                        {% for img in images %}
                            {% if img.detail == detail %}
                                <img class="detail-foto" src="{{ img.image.url }}" />
                            {% endif %}
                        {% endfor %}
                        <br>
                        <div class="price">
                            Ціна: {{ detail.price }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% if details.has_next %}
        <a href="?page={{ details.next_page_number }}">
            <div class="infinite-container">
                <div class="more"><h2><center>More</center></h2></div>
            </div>
        </a>
    {% endif %}
    <script>
        var infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0]
        });
    </script>
</div>
{% endblock %}
