{% extends 'base.html' %}
{% block content %}
<div class="content container">
    <div class="row">
        <div class="col-md-8">
            <div class=".signin">
                <form action="" method="POST">
                    {% csrf_token %}
                    <h3>Автомобіль: </h3><textarea name="car"></textarea>
                    <h3>Тип деталі: </h3>
                    <select name="type_of_detail">
                      <option>Volvo</option>
                      <option>Салон</option>
                      <option>Кузов</option>
                      <option selected>Двигун</option>
                    </select>
                    <h3>Деталь: </h3><textarea name="detail"></textarea>
                    <h3>Опис: </h3><textarea name="description"></textarea>
                    <h3>Ціна: </h3><textarea name="price"></textarea>
                    <input type="submit" value="Опублікувати" />
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}