{% extends 'base.html' %}
{% block content %}
<div class="content container">
    <div class="row">
        <div class="col-md-8">
            <div class=".signin">
                <form id="detail_form" action="" method="POST"  enctype="multipart/form-data">
                    {% csrf_token %}
                    <h3>Автомобіль: </h3>
                    <select for="{{ form.car }}">
                        <option selected>Audi A8 D2 3.3 TDI</option>
                        <option>Audi A8 D2 3.7</option>
                        <option>Audi A8 D2 4.2</option>
                        <option>Audi A8 D3 3.0 TDI</option>
                        <option>Audi A8 D3 3.7</option>
                        <option>Audi A8 D3 4.2</option>
                        <option>Mitsubishi Pajero Wagon 3(2000-2006) 3.2 DID</option>
                        <option>Mitsubishi Pajero Wagon 3(2000-2006) 3.5 GID</option>
                        <option>Porsche Cayenne</option>
                    </select>
                    <h3>Деталь: </h3>{{ form.detail }}
                    <h3>Опис: </h3>{{ form.description }}
                    <h3>Ціна: </h3>{{ form.price }}
                    <h3>Фотки: </h3>
                    {{ formset.management_form }}
                    {% for form in formset %}
                        {{ form }}
                    {% endfor %}
                    <br />
                    <br />
                    <input type="submit" value="Опублікувати" />
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
